* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #2D3152;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

header {
    background: #2D3152;
    border-bottom: 10px solid #cda74e;
    color: #fff;
}

.inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    border: 1px solid red;
}

.logo {
    display: flex;
    align-items: center;
}

#logo-img {
    width: 40px;
}

#toggle {
    position: absolute;
    transform: scale(3.5);
    opacity: 0;
    right: 21px;
    top: 31px;
}

#menu-btn {
    font-size: 45px;
    margin-right: 10px;
}

.menu {
    position: absolute;
    left: 0;
    width: 100%;
    top: 87px;
    display: none;
    z-index: 2;
}

.menu a {
    background: #2D3152;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 10px 0;
}

#toggle:checked+.menu {
    display: block;
}

.hero-section {
    background-image: url(../images/abstract-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content, .top-footer-content {
    flex-direction: column;
}

.bilbo-swash {
    margin-top: 30px;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.info1 {
    max-width: 375px;
    margin-bottom: 30px;
}

.view-projects-button {
    display: block;
    background: #cda74e;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 400;
    height: 78px;
    padding: 20px;
    text-align: center;
    max-width: 305px;
    margin: 0 auto;
}

#top-footer {
    background: #2D3152;
    color: #fff;
}

.thank-you {
    margin: 20px 50px 0 20px;
}

.lets-connect {
    font-size: 26px;
    width: 305px;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #fff;
}

a.lets-connect:link {
    color: #ffffff;
}

/* visited link */
a.lets-connect:visited {
    background: #2d3152;
    border-color: #fff;
    color: #fff;
}

/* hover over link */
a.lets-connect:hover {
    background: #2d3152;
    border: 2px solid #ffffff;
    color: #ffffff;
}

/* selected link */
a.lets-connect:active {
    background: #ffffff;
    border: 2px solid #ffffff;
    color: #2d3152;
}

.mobile-hide-text {
    display: none;
}

ul.links2 li {
    display: inline;
    font-size: 1.5em;
    margin: 20px 0 20px 20px;
}

/* unvisited link */
a.contact-links:link {
    color: #2D3152;
    text-decoration: none;
}

/* visited link */
a.contact-links:visited {
    color: #B3C7D6;
}

/* hover over link */
a.contact-links:hover {
    color: #CDA74E;
}

/* selected link */
a.contact-links:active {
    color: #D2D6DD;
}

@media screen and (min-width: 760px) {
    #logo-img {
        width: 60px;
        margin-left: -16px;
    }

    #menu-btn {
        display: none;
    }

    .menu {
        position: relative;
        top: 0;
        display: block;
    }

    .menu a {
        display: inline;
        border: none;
        text-align: right;
        padding: 0;
        margin: 0 10px;
    }

    .hero-content, .top-footer-content {
        flex-direction: row;
    }

    .bilbo-swash {
        margin-top: 0;
    }

    .view-projects-button {
        margin: 0;
    }

    .thank-you {
        margin: 0 50px 0 0;
        max-width: 600px;
    }

    ul.links2 li {
        font-size: 2em;
    }

    .mobile-hide-text {
        display: inline;
    }
}